body {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 25px;
}




.content {
    background-image: url(images/goru.jpg);
    width: 90%;
    height: 500px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 50px;
    color: white;
    text-align: left;
}

#first-h1 {
    margin-top: 150px;
}

#first-p {
    margin-left: 100px;
    margin-right: 100px;
}


.donate-btn {
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;

}

.second-section {
    display: flex;

    margin-top: 80px;
    margin-bottom: 80px;

}

.second-section-1st-div {
    margin-left: 150px;
    margin-right: 100px;
    padding: 50px;
}

.second-section img {
    margin-left: 70px;
    margin-right: 70px;

    padding: 50px;

}


.third-section {
    display: flex;

    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 70px;

}

.section-third-2nd-div {

    padding: 70px;
}

.third-section img {
    margin-right: 50px;
    padding: 50px;
}

.explore-btn {
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.section-4th {
    text-align: center;
    margin-top: 20px;

    margin-right: 300px;
    margin-left: 300px;
    padding: 50px;
}

.section-fifth {
    display: flex;

    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.section-fifth-1st {
    display: flex;
    margin-left: 20px;

    background-color: plum;
    color: white;
}

#first-icon {
    margin-right: 20px;
}

.section-fifth-second {
    display: flex;
    margin-left: 20px;
    background-color: plum;
    color: white;
}

#second-icon {
    margin-right: 20px;
}

.section-fifth-third {
    display: flex;
    margin-left: 20px;
    background-color: plum;
    color: white;
}

#third-icon {
    margin-right: 20px;
}

.section-fifth-fourth {
    display: flex;
    margin-left: 20px;
    background-color: plum;
    color: white;
}

#fourth-icon {
    margin-right: 30px;
}

.section-sixth {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 30px;
}

#section-sixth-batch {
    margin-left: 80px;


}

.section-seventh {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;

    padding: 30px;
}

.section-eight {
    display: flex;

}

.first-div {
    margin-left: 80px;

    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    border: 1px solid grey;
    border-radius: 10px;

}

.section-eight-content-padding {
    padding: 20px;
}

.second-div {
    margin-right: 50px;

    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}

.third-div {
    margin-right: 80px;

    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}

.donate-zakat {

    color: red;

}



footer {
    text-align: center;
    margin-top: 50px;

    background-color: black;
    padding: 30px;
}


footer h1 {
    color: red;
}

footer h5 {
    color: white;
}